
#map img { max-width: none; }

.frm-container { width:350px; }

.frm-table { margin-top:20px; }
.frm-table td { padding:2px;font-size:12px; }
.frm-table td.frm-label { font-weight:bold; }
.frm-table td.frm-value { padding-left:10px; }

.frm-capital { text-align:center;font-size:12px;font-weight:bold; }